@model TechBiteERP.Model.Models.GLAccount
@{
    ViewData["Title"] = "Reports";
    ViewData["CurrentPage"] = "Reports";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
@section customCSS{
    <link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/css/datapicker/datepicker3.css" rel="stylesheet" />
    <style>
        .jsgrid-grid-body {
            height: auto !important;
        }

        .hide {
            display: none;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">

                <h2 style="color:red;"> <label class="control-label">@TempData["ReportName"]</label></h2>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" id="reportForm" method="post" asp-action="Create" asp-controller="Report" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Report Name</label>
                                <div class="col-lg-8">
                                    <select asp-items="@ViewBag.Reports" autofocus class="form-control" id="ReportTitle" data-validation="required" name="ReportTitle">
                                        <option disabled="disabled" selected="selected">Select Report...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Branch</label>
                                <div class="col-lg-8">
                                    <select asp-items="@ViewBag.Branch" autofocus class="form-control" id="Branch" data-validation="required" name="Branch">
                                        <option disabled="disabled" selected="selected">Select Branch...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label" -for="AccountLevel">From Account</label>
                                <div class="col-lg-8">
                                    <select -for="AccountLevel" name="fromAccount" asp-items="@ViewBag.Accounts" id="fromAccount" class="form-control">
                                        @*<option selected="selected" disabled>Select...</option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label" -for="AccountLevel">To Account</label>
                                <div class="col-lg-8">
                                    <select -for="AccountLevel" name="toAccount" asp-items="@ViewBag.Accounts" id="toAccount" class="form-control">
                                        @*<option selected="selected" disabled>Select...</option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <label class="col-lg-4" style="padding-left: 52px;"> From </label>
                                    @*<label -for="Date" class=" control-label"> From </label>*@
                                    <div class="col-lg-8">
                                        <div input-group">
                                            <span class="input-group">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input Asp-for="CreatedDate" id="CreatedDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" type="text" />
                                        </div>
                                    </div>
                            </div>
                  
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label -for="Date" class="col-lg-5 control-label" style="padding-right: 82px;"> To</label>
                                    <div class="col-lg-7">
                                        <div input-group">
                                            <span class="input-group">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input Asp-for="UpdatedDate" id="UpdatedDate" class="form-control" value="@DateTime.Now.ToString("dd/MMM/yyyy")" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-7">
                                <div class="form-group form-check">
                                    <label class="col-lg-6 control-label" -for="AccountLevel">All Accounts</label>
                                    <div class="col-lg-4">
                                        <input type="radio" name="allCheck" val="0" id="allCheck">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group form-check">
                                    <label class="col-lg-4 control-label" -for="AccountLevel">Particular</label>
                                    <div class="col-lg-8">
                                        <input type="radio" name="allCheck" value="1" id="particular">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-lg-3">
                            </div>
                            <input type="radio" id="Posted" name="vtype" value="1">
                            <label for="male">Posted</label>
                            <input type="radio" id="UnPosted" name="vtype" value="0">
                            <label for="female">UnPosted</label>
                            <input type="radio" id="other" name="vtype" value="2">
                            <label for="other">All</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label" -for="AccountLevel">Account Level</label>
                                <div class="col-lg-8">
                                    <select asp-for="AccountLevel" name="AccountLevel" id="AccountLevel" class="form-control">
                                        <option selected="selected" disabled>Select...</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-lg-4 col-lg-offset-3">
                                    @*<a class="btn btn-white" asp-action="Print" asp-controller="Report">Print</a>*@
                                    <a class="btn btn-primary" -action="Print" -controller="Report" onclick="generateReport();">Print</a>
                                    @*<input type="submit" value="Create" class="btn btn-primary" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script src="~/lib/jquery-form-validator/jquery.form-validator.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        function generateReport() {
            debugger;
    $.post('/Report/Create',
        $("#reportForm").serialize()).done(function (data) {
            var reportURL = data;
            window.open(reportURL, "_blank");
        }).fail(function (data) {
        });;
}
    </script>

}
